/* src/components/BookCard.css */
.book-card {
  display: flex;
  align-items: center;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #fff;
  transition: transform 0.2s;
  text-align: left; /* Align text to the left */
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-image {
  width: 150px; /* Set a fixed width for the image */
  height: 200px; /* Set a fixed height for the image */
  object-fit: cover;
  margin-right: 20px; /* Add some space between the image and the details */
}

.book-details-bookcard {
   flex-grow: 0.9;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

}

.book-title, .book-author, .book-genre, .book-publication-year {
  margin: 5px 0; /* Reduce margin for better spacing */
  color: #333;
}

.book-title {
  font-size: 1.5em;
}

.book-author, .book-genre, .book-publication-year {
  font-size: 1em;
}

.learn-more {
  margin-top: 10px; /* Add some space above the learn more link */
  padding: 8px 16px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #007bff;
  border-radius: 50px;
  font-size: 0.9em;
  align-self: flex-start; /* Align the link to the start of the flex container */
}

.learn-more:hover {
  background-color: #007bff;
  color: #fff;
}
